/*Adding animation with keyframes*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
    /*transform: translateX(-100px) rotate(0deg);*/
  }
  80% {
    transform: translateX(1rem);
    /*transform: translateX(-100px) rotate(90deg);*/
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
/*New animation*/
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBotton {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
